*{
    padding: 0;
    margin: 0;
}
.header{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(assests/Pink-Cover.png);
    position: relative;
    background-position: center;
    background-size: cover;

}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}.logo{
    width: 550px;
    padding: 10px 20px ;

}
.logo img{
    width: 550px;
    position: absolute;
    padding-top: 10px;
    padding-left: 20px;
}
.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 5px 12px;
    position: relative;

}
li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: larger;
    color: azure;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    
    
}